.board-data{
  display: grid;
  grid-auto-flow:column;
  grid-gap: 30px;
  overflow-x: auto;
  height: 563px;
}

header{
  text-align: center;
}
header h1{
  color: #05386b;
  font-size: 42px;
  letter-spacing: 9px;
  margin-bottom: 2em;
}

section{
  margin-left:1em;
  margin-right: 1em;
}
