.board-list{
    padding: 1em;
    border-radius: 4px;
    background-color: #05386b;
    width: 20em;
    word-break: break-all;
    /* overflow-y: auto;
    max-height:467px; */
    /* position: relative; */

}
/* .board-list-cards{
  overflow-y: auto;
  max-height:467px;
} */




.board-list-name > h1{
    /* position: absolute; */
    color: #edf5e1;
    font-size: 23px;
    word-break: break-all;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.board-list-name > button{
    /* position: absolute; */
    margin-left: 18.2em;
    background: none;
    outline: none;
    color: #edf5e1;
    border: 1.2px solid #edf5e1;
    border-radius: 10px;
    height: 26px;
    width: 69px;
    font-weight: 700;

} 